<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {% endblock %}
        {% block javascripts %}
        	<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock%}
    </head>
    <body>
        <h1>Epocalypse</h1>
        {% include 'partials/menu.html.twig' %}

        {% block body %}{% endblock %}
        <footer>
            <p>{{ app_name }} version : {{ app_version }} - <a href="{{ app_git_url }}">Check this project on github</a></p>
        </footer>
        {% block javascripts_footer %}{% endblock %}
    </body>
</html>
